.box {
  width: 287px;
  height: 47px;
  border-radius: 8px;
  border-width: 2px;
  border: 2px solid var(--border-color);
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16rem;
  margin-top: 16px;
}
.Title {
  font-family: var(--outfit-font);
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}
.sectionTitle {
  font-family: var(--raleway-font);
  font-weight: 700;
  font-size: 58px;
  text-align: center;
  text-wrap: nowrap;
  margin-top: 22px;
}
.ParStyle {
  font-family: var(--outfit-font);
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: var(--other-text-color);
}

@media (min-width: 300px) and (max-width: 800px) {
  .sectionTitle {
    flex-direction: column;
    align-items: center;
    text-wrap: wrap;
  }
  .ParStyle {
    text-align: center;
    margin-left: 100px;
    font-size: 18px;
  }
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-17rem, 0rem);
  }
}
