.cardContainerStyling {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 300px) and (max-width: 800px) {
  .cardContainerStyling {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  .cardContainerStyling {
    flex-wrap: wrap;
  }
}
