.cardTitleStyle {
  font-family: var(--raleway-font);
  font-weight: 700;
  font-size: 23px;
  text-align: center;
  color: var(--titles-color);
}
.navigateTxtStyle {
  font-family: var(--outfit-font);
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: var(--text-color);
}
.navigationimgStyle {
  text-align: center;
}
.navigationimgStyle img {
  width: 200px;
}
.navigateBtnStyle {
  border-radius: 10px;
  border-width: 2px;
  border: 2px solid var(--border-color);
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: var(--card-btn-color);
  cursor: pointer;
  width: 200px;
  height: 66px;
}
.navigationCardContainer {
  border-radius: 12px;
  border-width: 2px;
  padding: 80px;
  border: 2px solid var(--border-color);
  margin-top: 16px;
  margin-left: 20px;
  width: 25%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 300px) and (max-width: 800px) {
  .navigationCardContainer {
    width: 300px;
  }
}
